:root {
    --blue: #1A9ED4;
    --black: #333333;
}

html,
body {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    color: var(--black);
    vertical-align: baseline;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    display: block;
    overflow: visible;
}

h1 {
    margin: 0;
    font-size: 4em;
    font-weight: 700;
    line-height: 1em;
}

h2 {
    margin: 0;
    font-size: 2.5em;
    font-weight: 700;
    line-height: 1em;
}

h3 {
    margin: 0;
    font-size: 1.56em;
    font-weight: 700;
    line-height: 1em;
}

p {
    margin: 0 0 5px 0;
    font-size: 0.98em;
    line-height: 1em;
}

a,
a:visited {
    margin: 0;
    font-size: 0.98em;
    line-height: 1em;
    text-decoration: none;
    color: var(--blue);
}

/* EMENTA */

.ementa {
    position: absolute;
    z-index: 2;
    padding: 50px 100px;
    width: 850px;
    background-color: white;
    box-shadow: 0 0 30px rgb(0 0 0 / 50%);
}

    .ementa .ementa-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 75px;
        width: 100%;
        padding: 0 0 0 53px;
    }

        .ementa .ementa-header img {
            max-height: 100px;
            padding-right: 25px;
        }

        .ementa .ementa-header img.logo-square {
            display: none;
        }

        .ementa .ementa-header a {
            border: 3px solid var(--blue);
            border-radius: 15px;
            padding: 15px 30px;
            background-color: white;
            font-weight: 700;
            transition: background-color .2s;
        }

        .ementa .ementa-header a:hover {
            color: white;
            background-color: var(--blue);
        }

    .ementa fieldset {
        margin: 0 0 50px 0;
        width: 100%;
        border: 3px solid var(--blue);
        border-radius: 15px;
        padding: 0 35px;
    }

        .ementa fieldset legend {
            padding: 0 15px;
            color: var(--blue);
        }

        .ementa fieldset .fieldset-container {
            margin-top: 50px;
            padding: 0 15px;
        }

            .ementa fieldset .menu-info {
                border-bottom: 4px dotted var(--blue);
                margin: 0 0 50px 0;
                padding: 0 0 40px 0;
                color: var(--blue);
            }

            .ementa fieldset .bebida-legenda {
                margin-bottom: 0;
                color: var(--blue);
                text-align: right;
            }

            .artigo-wrapper {
                padding: 0 0 50px 0;
            }

                .artigo {
                    display: flex;
                    align-items: baseline;
                    margin-bottom: 15px;
                    width: 100%;
                }

                    .artigo-nome {
                        padding-right: 10px;
                    }

                    .artigo-preco {
                        margin-left: 10px;
                        color: var(--blue);
                    }

                    .artigo-nome,
                    .artigo-preco {
                        flex: 0 0 auto;
                    }

                    .artigo-espaco {
                        flex: 1 1 auto;
                        border-bottom: 2px dotted var(--blue);
                    }

                .artigo-nota {
                    color: var(--blue);
                }

    .ementa-rodape {
        padding: 0 53px;
        color: var(--blue);
    }

.video-background {
    position: relative;
    overflow: hidden;
}

    .video-background video {
        position: fixed;
        left: 50%;
        top: -3px;
        transform: translate(-50%);
        min-width: 101%;
        min-height: 101%;
        width: auto;
        height: auto;
    }

    .video-overlay {
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGklEQVQYV2PklND4//3FDUYGBgYGMAEDKBwAh5UEBJUp5XkAAAAASUVORK5CYII=) repeat;
    }

.video-foreground {
    display: none;
    overflow: hidden;
}

    .video-foreground video {
        width: 100%;
    }

@media screen and (max-width:850px) {

    .ementa {
        width: 100%;
        box-shadow: none;
    }

    .video-foreground {
        display: initial;
    }

    .video-background {
        display: none;
    }

}


@media screen and (max-width:785px) {

    html,
    body {
        font-size: 15px;
    }

        .ementa {
            padding: 50px;
        }

}

@media screen and (max-width:655px) {

    html,
    body {
        font-size: 14px;
    }

        .ementa {
            padding: 50px 25px;
        }

            .ementa .ementa-header {
                padding: 0 0 0 38px;
            }

            .ementa fieldset {
                padding: 0 20px;
            }

            .ementa-rodape {
                padding: 0 38px;
            }

}

@media screen and (max-width:580px) {

    .ementa .ementa-header img {
        height: 70px;
    }

    .artigo-wrapper {
        padding: 0 0 25px 0;
    }

}

@media screen and (max-width:545px) {

    html,
    body {
        font-size: 13px;
    }

}

@media screen and (max-width:520px) {

    html,
    body {
        font-size: 12px;
    }

        .ementa {
            padding: 50px 0;
        }

            .ementa .ementa-header {
                padding: 0 25px;
            }

            .ementa fieldset {
                border: 0;
                padding: 25px;
            }

                .ementa fieldset legend {
                    padding: 0;
                }

                .ementa fieldset .fieldset-container {
                    margin-top: 25px;
                    padding: 0;
                }
            
            .ementa-rodape {
                padding: 0 25px;
            }

}

@media screen and (max-width:415px) {

    html,
    body {
        font-size: 11px;
    }

        .ementa .ementa-header img {
            height: 60px;
        }

}

@media screen and (max-width:385px) {

    html,
    body {
        font-size: 10px;
    }

        .ementa .ementa-header img {
            height: 70px;
        }

        .ementa .ementa-header img.logo-full {
            display: none;
        }

        .ementa .ementa-header img.logo-square {
            display: initial;
        }

        .ementa .ementa-header a {
            padding: 15px 20px;
        }

}

@media screen and (max-width:355px) {

    html,
    body {
        font-size: 9px;
    }

}
/*
@media screen and (max-width:475px) {

    html,
    body {
        font-size: 9px;
    }

        .ementa fieldset legend img {
            height: 35px;
        }

        .ementa fieldset legend h1 {
            padding-left: 45px;
        }

        .artigo-wrapper {
            padding: 15px;
        }

        .ementa .ementa-header a,
        .ementa fieldset .menu-info p,
        .ementa fieldset p.bebida-legenda,
        .artigo-nota,
        .ementa-rodape {
            font-size: 1.5em;
        }

}

@media screen and (max-width:440px) {

    html,
    body {
        font-size: 8px;
    }

        .ementa .ementa-header a,
        .ementa fieldset .menu-info p,
        .ementa fieldset p.bebida-legenda,
        .artigo-nota,
        .ementa-rodape {
            font-size: 1.5em;
        }

}

@media screen and (max-width:410px) {

    .ementa .ementa-header img {
        height: 70px;
    }

    .ementa .ementa-header img.logo-full {
        display: none;
    }

    .ementa .ementa-header img.logo-square {
        display: initial;
    }

    .ementa .ementa-header a {
        padding: 10px 20px;
    }

    .ementa fieldset legend img {
        display: none;
    }

    .ementa fieldset legend {
        padding: 0 15px;
    }

        .ementa fieldset legend h1 {
            padding-left: 0;
        }
    
    .ementa fieldset .fieldset-container {
        padding: 0 15px;
    }

        .artigo-wrapper {
            padding: 15px 0;
        }

}

@media screen and (max-width:380px) {

    html,
    body {
        font-size: 7px;
    }

    .ementa fieldset {
        padding: 0 15px 15px 15px;
    }

        fieldset.extras .artigo-nome {
            line-height: 1.2em;
        }

        .ementa .ementa-header a,
        .ementa fieldset .menu-info p,
        .ementa fieldset p.bebida-legenda,
        .artigo-nota,
        .ementa-rodape {
            font-size: 1.5em;
        }

}

@media screen and (max-width:330px) {

    html,
    body {
        font-size: 6px;
    }

        .ementa .ementa-header a,
        .ementa fieldset .menu-info p,
        .ementa fieldset p.bebida-legenda,
        fieldset.extras .artigo-nome,
        .artigo-preco,
        .artigo-nota,
        .ementa-rodape {
            font-size: 1.6em;
        }

}
*/