:root {
    --blue: #1A9ED4;
    --black: #333333;
}

html,
body {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    color: var(--black);
    vertical-align: baseline;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    display: block;
    overflow: visible;
}

h1 {
    margin: 0;
    font-size: 4em;
    line-height: 1em;
}

p {
    margin: 0;
    font-size: 2.5em;
    line-height: 1em;
}

a,
a:visited {
    margin: 0;
    font-size: 0.98em;
    line-height: 1em;
    text-decoration: none;
    color: var(--blue);
}

/* EMENTA */

.screen {
    position: relative;
}

    .ementa {
        position: absolute;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 50px 100px;
        width: 850px;
        background-color: white;
        box-shadow: 0 0 30px rgb(0 0 0 / 50%);
    }

        .ementa .ementa-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 75px;
            width: 100%;
            padding: 0 0 0 35px;
        }

            .ementa .ementa-header img {
                max-height: 100px;
                padding-right: 25px;
            }

            .ementa .ementa-header img.logo-square {
                display: none;
            }

            .ementa .ementa-header a {
                border: 3px solid var(--blue);
                border-radius: 15px;
                padding: 15px 30px;
                background-color: white;
                font-weight: 700;
                transition: background-color .2s;
            }

            .ementa .ementa-header a:hover {
                color: white;
                background-color: var(--blue);
            }

        .ementa fieldset {
            margin-bottom: 50px;
            width: 100%;
            border: 3px solid var(--blue);
            border-radius: 15px;
            padding: 0 35px 15px 35px;
        }

            .ementa fieldset legend {
                position: relative;
                padding: 0 15px 0 0;
                color: var(--blue);
            }

                .ementa fieldset legend img {
                    position: absolute;
                    height: 65px;
                }

                .ementa fieldset legend h1 {
                    padding-left: 75px;
                }
            
            .ementa fieldset .fieldset-container {
                margin-top: 50px;
            }

                .ementa fieldset .menu-info {
                    border-bottom: 4px dotted var(--blue);
                    margin: 0 0 35px 0;
                    padding: 0 0 25px 0;
                    color: var(--blue);
                }

                    .ementa fieldset .menu-info p {
                        font-size: .98em;
                        margin-bottom: 5px;
                    }

                .ementa fieldset p.bebida-legenda {
                    font-size: .98em;
                    color: var(--blue);
                    text-align: right;
                }

                .artigo-wrapper {
                    margin-bottom: 15px;
                    padding: 15px 0;
                }
                
                    .artigo {
                        display: flex;
                        align-items: baseline;
                        margin-bottom: 10px;
                        width: 100%;
                    }
                
                        .artigo-nome {
                            padding-right: 10px;
                            font-weight: 700;
                        }

                        fieldset.extras .artigo-nome {
                            font-size: 1.56em;
                        }
                
                        .artigo-preco {
                            margin-left: 10px;
                            font-size: 1.56em;
                            color: var(--blue);
                        }
                
                        .artigo-nome,
                        .artigo-preco {
                            flex: 0 0 auto;
                        }
                
                        .artigo-espaco {
                            flex: 1 1 auto;
                            border-bottom: 2px dotted var(--blue);
                        }
                
                    .artigo-nota {
                        font-size: .98em;
                        color: var(--blue);
                    }

        .ementa-rodape {
            padding: 0 35px;
            font-size: 0.98em;
            color: var(--blue);
        }

    .video {
        position: relative;
        overflow: hidden;
    }
    
        .video .video-overlay {
            position: fixed;
            z-index: 1;
            width: 100%;
            height: 100%;
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGklEQVQYV2PklND4//3FDUYGBgYGMAEDKBwAh5UEBJUp5XkAAAAASUVORK5CYII=) repeat;
        }
    
        .video video {
            position: fixed;
            left: 50%;
            top: -3px;
            transform: translate(-50%);
            min-width: 101%;
            min-height: 101%;
            width: auto;
            height: auto;
        }

@media screen and (max-width:850px) {

    .ementa {
        padding: 50px 100px;
        width: 100%;
        box-shadow: none;
    }

    .rodape-imagens {
        display: none;
    }

    .video {
        display: none;
    }

}

@media screen and (max-width:849px) {

    html,
    body {
        font-size: 15px;
    }

        .ementa {
            padding: 50px 50px;
        }

}

@media screen and (max-width:725px) {

    html,
    body {
        font-size: 14px;
    }

        .ementa fieldset legend img {
            height: 55px;
        }

}

@media screen and (max-width:695px) {

    html,
    body {
        font-size: 13px;
    }

        .ementa {
            padding: 50px 25px;
        }

            .ementa fieldset legend h1 {
                padding-left: 70px;
            }

            .ementa fieldset {
                padding: 0 25px 15px 25px;
            }
    

}

@media screen and (max-width:585px) {

    html,
    body {
        font-size: 12px;
    }

        .ementa .ementa-header img {
            height: 60px;
        }

        .ementa fieldset legend img {
            height: 50px;
        }

        .ementa fieldset legend h1 {
            padding-left: 65px;
        }

}

@media screen and (max-width:550px) {

    html,
    body {
        font-size: 11px;
    }

        .ementa fieldset legend img {
            height: 45px;
        }

        .ementa fieldset legend h1 {
            padding-left: 60px;
        }

}

@media screen and (max-width:535px) {

    html,
    body {
        font-size: 11px;
    }

            .ementa fieldset legend img {
                height: 45px;
            }

            .ementa fieldset legend h1 {
                padding-left: 55px;
            }

}

@media screen and (max-width:510px) {

    html,
    body {
        font-size: 10px;
    }

        .ementa .ementa-header a {
            padding: 15px 20px;
        }

        .ementa fieldset legend img {
            height: 40px;
        }

        .ementa fieldset legend h1 {
            padding-left: 50px;
        }

}

@media screen and (max-width:475px) {

    html,
    body {
        font-size: 9px;
    }

        .ementa fieldset legend img {
            height: 35px;
        }

        .ementa fieldset legend h1 {
            padding-left: 45px;
        }

        .artigo-wrapper {
            padding: 15px;
        }

        .ementa .ementa-header a,
        .ementa fieldset .menu-info p,
        .ementa fieldset p.bebida-legenda,
        .artigo-nota,
        .ementa-rodape {
            font-size: 1.3em;
        }

}

@media screen and (max-width:440px) {

    html,
    body {
        font-size: 8px;
    }

        .ementa .ementa-header a,
        .ementa fieldset .menu-info p,
        .ementa fieldset p.bebida-legenda,
        .artigo-nota,
        .ementa-rodape {
            font-size: 1.4em;
        }

}

@media screen and (max-width:410px) {

    .ementa .ementa-header img {
        height: 70px;
    }

    .ementa .ementa-header img.logo-full {
        display: none;
    }

    .ementa .ementa-header img.logo-square {
        display: initial;
    }

    .ementa .ementa-header a {
        padding: 10px 20px;
    }

    .ementa fieldset legend img {
        display: none;
    }

    .ementa fieldset legend {
        padding: 0 15px;
    }

        .ementa fieldset legend h1 {
            padding-left: 0;
        }
    
    .ementa fieldset .fieldset-container {
        padding: 0 15px;
    }

        .artigo-wrapper {
            padding: 15px 0;
        }

}

@media screen and (max-width:380px) {

    html,
    body {
        font-size: 7px;
    }

    .ementa fieldset {
        padding: 0 15px 15px 15px;
    }

        fieldset.extras .artigo-nome {
            line-height: 1.2em;
        }

        .ementa .ementa-header a,
        .ementa fieldset .menu-info p,
        .ementa fieldset p.bebida-legenda,
        .artigo-nota,
        .ementa-rodape {
            font-size: 1.5em;
        }

}

@media screen and (max-width:330px) {

    html,
    body {
        font-size: 6px;
    }

        .ementa .ementa-header a,
        .ementa fieldset .menu-info p,
        .ementa fieldset p.bebida-legenda,
        fieldset.extras .artigo-nome,
        .artigo-preco,
        .artigo-nota,
        .ementa-rodape {
            font-size: 1.6em;
        }

}