:root {
    --blue: #1A9ED4;
    --black: #333333;
}

html,
body {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    color: var(--black);
    vertical-align: baseline;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    display: block;
    overflow: visible;
}

h1 {
    margin: 0 0 50px 0;
    font-size: 4em;
    line-height: 1em;
}

p {
    margin: 0;
    font-size: 2.5em;
    line-height: 1em;
}

a,
a:visited {
    margin: 0;
    font-size: 0.98em;
    line-height: 1em;
    text-decoration: none;
    color: var(--blue);
}

/* EMENTA */

.screen {
    position: relative;
}

    .ementa {
        position: absolute;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 50px 100px;
        width: 850px;
        background-color: white;
        box-shadow: 0 0 30px rgb(0 0 0 / 50%);
    }

        .ementa .ementa-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 25px;
            width: 100%;
            padding: 0 0 0 35px;
        }

            .ementa .ementa-header .logo img {
                width: 100%;
            }

            .ementa .ementa-header a {
                border: 3px solid var(--blue);
                border-radius: 15px;
                padding: 15px 30px;
                background-color: white;
                font-weight: 700;
                transition: background-color .2s;
            }

            .ementa .ementa-header a:hover {
                color: white;
                background-color: var(--blue);
            }

        .ementa fieldset {
            margin-bottom: 50px;
            width: 100%;
            border: 3px solid var(--blue);
            border-radius: 15px;
            padding: 0 15px 15px 15px;
        }

            .ementa fieldset legend {
                display: flex;
                padding: 45px 15px 0 15px;
                color: var(--blue);
            }

                .ementa fieldset legend img {
                    height: 65px;
                    margin-right: 15px;
                }

            .ementa fieldset .menu-info {
                border-bottom: 4px dotted var(--blue);
                margin: 0 15px 35px 15px;
                padding: 0 0 25px 0;
                color: var(--blue);
            }

                .ementa fieldset .menu-info p {
                    font-size: .98em;
                    margin-bottom: 5px;
                }

            .ementa fieldset p.bebida-legenda {
                padding: 0 15px;
                font-size: .98em;
                color: var(--blue);
                text-align: right;
            }

            .artigo-wrapper {
                margin-bottom: 15px;
                padding: 15px;
            }
            
                .artigo {
                    display: flex;
                    align-items: baseline;
                    margin-bottom: 10px;
                    width: 100%;
                }
            
                    .artigo-nome {
                        padding-right: 10px;
                        font-weight: 700;
                    }

                    fieldset.extras .artigo-nome {
                        font-size: 1.56em;
                    }
            
                    .artigo-preco {
                        margin-left: 10px;
                        font-size: 1.56em;
                        color: var(--blue);
                    }
            
                    .artigo-nome,
                    .artigo-preco {
                        flex: 0 0 auto;
                    }
            
                    .artigo-espaco {
                        flex: 1 1 auto;
                        border-bottom: 2px dotted var(--blue);
                    }
            
                .artigo-nota {
                    font-size: .98em;
                    color: var(--blue);
                }

        .ementa-rodape {
            padding: 0 35px;
            font-size: 0.98em;
            color: var(--blue);
        }

    .video {
        position: relative;
        overflow: hidden;
    }
    
        .video .video-overlay {
            position: fixed;
            z-index: 1;
            width: 100%;
            height: 100%;
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGklEQVQYV2PklND4//3FDUYGBgYGMAEDKBwAh5UEBJUp5XkAAAAASUVORK5CYII=) repeat;
        }
    
        .video video {
            position: fixed;
            left: 50%;
            top: -3px;
            transform: translate(-50%);
            min-width: 101%;
            min-height: 101%;
            width: auto;
            height: auto;
        }






