:root {
    --blue: #1A9ED4;
    --black: #333333;
}

html,
body {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    color: var(--black);
    vertical-align: baseline;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    display: block;
    overflow: visible;
}

h1 {
    margin: 0;
    font-size: 4em;
    font-weight: 700;
    line-height: 1em;
}

h2 {
    margin: 0;
    font-size: 2.5em;
    font-weight: 700;
    line-height: 1em;
}

h3 {
    margin: 0;
    font-size: 1.56em;
    font-weight: 700;
    line-height: 1em;
}

p {
    margin: 0 0 5px 0;
    font-size: 0.98em;
    line-height: 1.2em;
}

a,
a:visited {
    margin: 0;
    font-size: 0.98em;
    line-height: 1em;
    text-decoration: none;
    color: var(--blue);
}

/* EMENTA */

.ementa {
    position: absolute;
    z-index: 2;
    padding: 50px 100px;
    width: 850px;
    background-color: white;
    box-shadow: 0 0 30px rgb(0 0 0 / 50%);
}

    .ementa .ementa-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 75px;
        width: 100%;
        padding: 0 0 0 53px;
    }

        .ementa .ementa-header img {
            max-height: 100px;
            padding-right: 25px;
        }

        .ementa .ementa-header img.logo-square {
            display: none;
        }

        .ementa .ementa-header a {
            border: 3px solid var(--blue);
            border-radius: 15px;
            padding: 15px 30px;
            background-color: white;
            font-weight: 700;
            transition: background-color .2s;
        }

        .ementa .ementa-header a:hover {
            color: white;
            background-color: var(--blue);
        }

    .ementa fieldset {
        position: relative;
        margin: 0 0 50px 0;
        width: 100%;
        border: 3px solid var(--blue);
        border-radius: 15px;
        padding: 0 35px;
    }

        fieldset.extras {
            border: 3px dashed var(--blue);
        }

        .ementa fieldset legend {
            padding: 0 15px;
            color: var(--blue);
        }

        .ementa fieldset .gramas {
            position: absolute;
            right: 30px;
            top: -113px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;
            width: 100px;
            color: var(--blue);
            border: 3px dashed var(--blue);
            border-radius: 50px;
            background-color: white;
        }

        .ementa fieldset.en .gramas {
            top: -80px;
        }

        .ementa fieldset .fieldset-container {
            margin-top: 50px;
            padding: 0 15px;
        }

            .ementa fieldset .menu-info {
                margin: 0 0 50px 0;
                color: var(--blue);
            }

            .ementa fieldset .bebida-legenda {
                margin-bottom: 0;
                color: var(--blue);
                text-align: right;
            }

            .artigo-wrapper {
                padding: 0 0 50px 0;
            }

                .artigo {
                    display: flex;
                    align-items: baseline;
                    margin-bottom: 15px;
                    width: 100%;
                }

                    .artigo-nome {
                        padding-right: 10px;
                    }

                    .artigo-preco {
                        margin-left: 10px;
                        color: var(--blue);
                    }

                    .artigo-nome,
                    .artigo-preco {
                        flex: 0 0 auto;
                    }

                    .artigo-espaco {
                        flex: 1 1 auto;
                        border-bottom: 2px dotted var(--blue);
                    }

                .artigo-nota {
                    color: var(--blue);
                }

    .ementa-rodape {
        padding: 0 53px;
        color: var(--blue);
    }

.slideshow {
    display: flex;
    position: fixed;
    overflow: hidden;
}

    .slideshow .overlay {
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGklEQVQYV2PklND4//3FDUYGBgYGMAEDKBwAh5UEBJUp5XkAAAAASUVORK5CYII=) repeat;
    }

    .slideshow img {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        transition: opacity .5s ease-in-out;
    }

    .slideshow img + img {
        position: absolute;
        opacity: 0;
    }

@media screen and (max-width:850px) {

    .ementa {
        width: 100%;
        box-shadow: none;
    }

    .slideshow {
        position: relative;
    }

        .slideshow .overlay {
            display: none;
        }

        .slideshow img {
            width: 100%;
            height: 100%;
        }

}

@media screen and (max-width:735px) {

    .ementa {
        padding: 50px;
    }

}

@media screen and (max-width:635px) {

    .ementa {
        padding: 50px 25px;
    }

        .ementa .ementa-header {
            padding: 0 0 0 38px;
        }

        .ementa fieldset {
            padding: 0 20px;
        }

        .ementa-rodape {
            padding: 0 38px;
        }

}

@media screen and (max-width:555px) {


    .ementa {
        padding: 50px 0;
    }

        .ementa .ementa-header {
            padding: 0 25px;
        }

            .ementa .ementa-header img {
                height: 70px;
            }

        .ementa fieldset {
            border: 0;
            padding: 25px;
        }

            .ementa fieldset .gramas {
                top: -105px;
                right: 25px;
            }

            .ementa fieldset legend {
                padding: 0;
            }

            .ementa fieldset .fieldset-container {
                margin-top: 25px;
                padding: 0;
            }

            .artigo-wrapper {
                padding: 0 0 25px 0;
            }   

        .ementa-rodape {
            padding: 0 25px;
        }

}

@media screen and (max-width:490px) {

    html,
    body {
        font-size: 15px;
    }

}

@media screen and (max-width:470px) {

    html,
    body {
        font-size: 14px;
    }

        .ementa .ementa-header img {
            height: 60px;
        }

        .ementa fieldset .gramas {
            top: -80px;
            width: 80px;
            height: 80px;
        }

        .ementa fieldset.en .gramas {
            top: -65px;
        }

}

@media screen and (max-width:440px) {

    .ementa fieldset .gramas {
        display: none;
    }

}

@media screen and (max-width:430px) {

    html,
    body {
        font-size: 13px;
    }

        .ementa .ementa-header {
            margin-bottom: 50px;
        }

}

@media screen and (max-width:405px) {

    html,
    body {
        font-size: 12px;
    }

        p {
            font-size: 1.3em;
            line-height: 1.3em;
        }

        .ementa .ementa-header img {
            height: 70px;
        }

        .ementa .ementa-header img.logo-full {
            display: none;
        }

        .ementa .ementa-header img.logo-square {
            display: initial;
        }

        .ementa .ementa-header a {
            padding: 15px 20px;
        }

        .artigo {
            margin-bottom: 10px;
        }

}

@media screen and (max-width:380px) {

    html,
    body {
        font-size: 11px;
    }

}

@media screen and (max-width:355px) {

    html,
    body {
        font-size: 10px;
    }

}