html,
body {
	background-color:#FFF;
	font-family:"futura-pt",sans-serif;
	font-size:1em;
	color:#333;
	vertical-align:baseline;
	border:0;
	margin:0;
	padding:0;
}

* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

div {
	display:block;
	overflow:visible;
}

.group:after {
	content:"";
	display:table;
	clear:both;
}

a,
a:visited {
	text-decoration:none;
	color:inherit;
}

img {
	vertical-align:middle;
}

h1 {
	font-size:4.1em;
	line-height:1em;
	font-weight:700;
	margin:0;
	padding-top:4px;
	color:#1A9ED4;
	text-transform:uppercase;
}

h2 {
	font-size:1.6em;
	margin:0 0 30px 0;
	font-weight:500;
	color:#1A9ED4;
}

h3 {
	font-size:1.6em;
	margin:0;
	font-weight:500;
	color:#1A9ED4;
}

h4 {
	font-size:2.85em;
	font-weight:700;
	line-height:.9em;
	margin:0;
	color:#1A9ED4;
	text-transform:uppercase;
}

p {
	margin:0 0 20px 0;
	font-size:1.4em;
	font-weight:400;
	line-height:1.5em;
	color:#333;
	hyphens: none;
}

p a,
p a:visited {
	text-decoration:none;
	color:#1A9ED4;
}

p a:hover {
	color:#333;
}

.alignRight {
	text-align:right;
}

ul {
	list-style-type:none;
	overflow:visible;
	padding:0;
	margin:0;
}

::selection {
	background:#e5e5e5;
}

/* header */

.menu,
.hideMenu {
	display:none;
}

header {
	width:100%;
	position:fixed;
	top:0;
	z-index:5;
	background-color:rgba(100%,100%,100%,.95);
}

nav {
	font-weight:700;
	font-size:15px;
	text-transform:uppercase;
}

nav li {
	float:left;
	padding:20px 0 0 0;
	margin:0 20px;
}

nav li:first-child {
	padding:0;
	margin-left:0;
	margin-bottom:0;
	width:60px;
	height:60px;
	background-color:#1A9ED4;
}

nav li:first-child:hover {
	background-color:#333;
}

nav li:last-child {
	padding-top: 9px;
}

	nav li:last-child img {
		width: 100px;
	}

nav li img {
	width:60px;
}

nav li a,
nav li a:visited {
	color:#1A9ED4;
}

nav li a:hover,
nav li a.selected {
	color:#333;
}

/* geral */

.bloco {
	margin-bottom:40px;
}

.first {
	margin-top:140px;
}

.wrapper {
	width:850px;
	margin:0 auto;
}

.imagem_full {
	overflow: hidden;
	text-align: center;
}

.imagem_full img {
	max-width:90%;
	min-width:1100px;
}

.fundoAzul {
	padding:40px 0;
	background-color:#1A9ED4;
}

.fundoCinza {
	padding:40px 0;
	background-color:#EFEFEF;
}

.fundoVerde {
	padding: 40px 0;
	background-color:#00a94d;
}

.fundoAzul h1, .fundoAzul h2, .fundoAzul h3, .fundoAzul h4, .fundoAzul p,
.fundoVerde h4, .fundoVerde p {
	color:#FFF;
}

.fundoCinza h1, .fundoCinza h2, .fundoCinza h3, .fundoCinza h4, .fundoCinza p {
	color:#333;
}

.fundoAzul h1 a, .fundoAzul h1 a:visited,
.fundoAzul h2 a, .fundoAzul h2 a:visited,
.fundoAzul h3 a, .fundoAzul h3 a:visited,
.fundoAzul h4 a, .fundoAzul h4 a:visited,
.fundoAzul p a, .fundoAzul p a:visited,
.fundoVerde p a, .fundoVerde p a:visited {
	color:#FFF;
	border-bottom:1px dotted #FFF;
}

.fundoAzul h1 a:hover,
.fundoAzul h2 a:hover,
.fundoAzul h3 a:hover,
.fundoAzul h4 a:hover,
.fundoAzul p a:hover,
.fundoVerde p a:hover {
	color:#333;
	border-bottom:1px dotted #333;
}

.twoColumns li {
	float:left;
	width:50%;
}

.white h1,
.white h2,
.white p {
	color:#FFF;
}

.white h2 a,
.white h1 a:hover {
	color:#1A9ED4;
}

.white h2 a:hover {
	color:#333;
}

.center {
	text-align:center;
}

.collapsible {
	cursor:pointer;
}

.collapse-close span,
.collapse-open span {
	float:right;
	-moz-transition:transform .5s ease;
	-webkit-transition:transform .5s ease;
	-o-transition:transform .5s ease;
	transition:transform .5s ease;
}

.collapse-open span {
	visibility:visible;
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
}

/* footer */

footer {
	padding:80px 0 40px 0;
}

footer p {
	font-size:1em;
	text-align:center;
	margin:0;
}

footer p span {
	color:#1A9ED4;
}

@media screen and (max-width:900px) {

	html {
		font-size:0.9em;
	}

	.wrapper {
		width:90%;
	}

	header {
		left:0;
	}
		
	.imagem_full img {
		min-width:900px;
		position:relative;
		left:50%;
		margin-left:-460px;
		display:block;
	}

}

@media screen and (max-width:500px) {

	html {
		font-size:0.7em;
	}

	h1 {
		-webkit-hyphens: none;
		-moz-hyphens: none;
		hyphens: none;
	}

	.menu {
		display:block;
		position:fixed;
		top:0;
		left:0;
		width:100%;
		z-index:20;
		background-color:rgba(100%,100%,100%,.8);
	}

	.showMenu {
		position:fixed;
	}

	.hideMenu {
		display:block;
		position:absolute;
	}

	.showMenu,
	.hideMenu {
		top:0;
		right:0;
		height:60px;
		width:60px;
		padding:15px;
	}

	.showMenu img,
	.hideMenu img {
		width:100%;
	}

	.menu_logo {
		position:relative;
		top:0;
		left:0;
		padding:0;
		margin:0;
		width:60px;
		height:60px;
		background-color:#1A9ED4;
	}

	.menu_logo img {
		width:60px;
	}

	header {
		left:-100%;
		height:100%;
		z-index:25;
	}

	nav li {
		float:none;
		margin:0 0 30px 0;
		padding:0;
		font-size:1.2em;
	}

	nav li:first-child {
		margin:0 0 40px 0;
	}

	.first {
		margin-top:100px;
	}
		
	.twoColumns li {
		float:none;
		width:100%;
	}

}